.nav-link, .dropdown-item{
    color:rgb(167, 164, 164);
}

.btn-link {
  color: rgb(252, 217, 80); 
  border-color: rgb(252, 217, 80);
}

.rsbtn {
  position:relative;
  display:block;
  background-position:center center;
  background-size:100%;
}

.btn:hover, .btn:active, .btn:focus {
  background-color: rgb(167, 164, 164); 
  border-color: white;
  color:white;
}

.nav-link:hover, .nav-link:active, .nav-link:focus, .dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
  color: white; 
  background-color: rgb(167, 164, 164); 
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
  color: rgb(252, 217, 80);
}

.copyright{
  text-align: center;
  color: grey;
}
.bg { 
  /* The image used */
  background-image: url("../img/recipepic.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  filter: brightness(50%);
}

body, html {
  height: 100%;
}