.nav-link, .dropdown-item{
    color:rgb(167, 164, 164);
}

.btn-link {
  color: grey;
}

.btn:hover, .btn:active, .btn:focus {
  background-color: rgb(167, 164, 164);
  border-color: white;
  color:white;
}

#foods, #foods:hover {
  color: blue;
  background-color:white;
}

#edit {
  background-color: rgb(167, 164, 164);
}

.nav-link:hover, .nav-link:active, .nav-link:focus, .dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
  color: white;
  background-color: rgb(167, 164, 164);
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus, .btn-outline-warning{
  color: rgb(252, 217, 80);
}

.copyright{
  text-align: center;
  color: grey;
}

.container-fluid{
  position: absolute;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe {
  background-image: url("../img/recipepic.jpg");
}

.restaurant {
  background-image: url("../img/restaurantpic.jpg");
}

.copyright {
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.carousel-inner {
  width: auto;
  height: 900px;
  margin: auto;
}

.carousel-inner img {
  display:block;
  height: auto;
  max-width: 100%;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carousel-caption span{
  background-color: rgba(100, 100, 100, .30);
}

.main-container {
  height:vh;
}

.circular {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular img{
  width: auto;
  height: 100%;
  margin-left: -50px;
  display: block;
  margin-right: auto;
}

.flex-container {
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.darkback{
  background-color: black;
}

h5 {
  margin-bottom: 50px;
}
