.nav-link {
    color:rgb(167, 164, 164);
}

.btn-link {
  color: rgb(252, 217, 80); 
  border-color: rgb(252, 217, 80);
}

.btn:hover, .btn:active, .btn:focus{
  background-color: rgb(167, 164, 164); 
  border-color: white;
  color:white;
}

.nav-link:hover, .nav-link:active, .nav-link:focus {
  color: white; 
  background-color: rgb(167, 164, 164); 
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
  color: white;
}

.dropdown-item {
  color: rgb(167, 164, 164);
}

.copyright{
  text-align: center;
  color: grey;
}