.nav-link, .dropdown-item{
    color:rgb(167, 164, 164);
}

.btn-link {
  color: rgb(252, 217, 80);
  background-color:transparent;
}

.btn:hover, .btn:active, .btn:focus {
  background-color: rgb(167, 164, 164); 
  border-color: white;
  color:white;
}

#foods, #foods:hover {
  color: blue;
  background-color:white;
}

.nav-link:hover, .nav-link:active, .nav-link:focus, .dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
  color: white; 
  background-color: rgb(167, 164, 164); 
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
  color: rgb(252, 217, 80);
}

.copyright{
  text-align: center;
  color: grey;
}

.container-fluid{
  position: absolute;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe {
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
  background-image: url("../img/recipepic.jpg");
}

.restaurant {
  background-image: url("../img/restaurantpic.jpg");
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}

.carousel-inner {
  width:auto;
  height: 600px;
  padding-left: 0;
  margin-left: 0;
}