<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/0691185925.js" crossorigin="anonymous"></script>

        <title>{{ title }}</title>
    </head>
    <body>
            <nav class="navbar navbar-expand-sm bg-dark">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><i class="fas fa-utensils"></i>MYplatE<i class="fas fa-circle"></i></a>
                </div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('recipe') }}">Recipe Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('restaurant') }}">Restaurants</a>
                    </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Food Diary
                            </a>
                            <div class="dropdown-menu bg-dark">
                                <a class="dropdown-item" href="{{ url_for('foodDiary') }}">My Food Diary</a>
                                <a class="dropdown-item" href="{{ url_for('fooddata')}}">Nutrition Data</a>
                            </div>
                        </li>
                </ul>
                <div class="nav navbar-nav ml-auto">
                    {% if current_user is none %}
                        <li><a href="{{ url_for('signup') }}"> <button class="btn btn-link btn-outline-warning"><i class="fas fa-user-plus"></i>Sign up</button></a></li>
                        <li><a href="{{ url_for('login') }}"> <button class="btn btn-link btn-outline-warning"><i class="fas fa-sign-in-alt"></i>Login</button></a></li>
                    {% else %}
                        <li><a href="{{ url_for('logout') }}"> <button class="btn btn-link btn-outline-warning"><i class="fas fa-sign-out-alt"></i>Log out</button></a></li>
                    {% endif %}
                </div>
            </nav>
        <br>
        {% block image %} {% endblock image %}
        <div class = "container">
            {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class = "alert alert-{{ category }}" role = "alert">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block content %} {% endblock content %}
        </div>

        <div class="fixed-bottom">
            <p class="copyright">
                &copy; WillCodeForFood 2019
            </p>
        </div>
    </body>
</html>
