{% extends "base.html" %}

{% block content%}
<br>
    <form class="form-group" method="post">
        <label class="form-control-sm" for="food">Search for a food: </label>
        <input class="form-control-sm" id="food" name="food" type="text">
        <br><br>
        <input class="btn-sm btn-warning" type="submit" value="Search"> <br><br>
    </form>


    {% if data %}

        {% if 'foods' in data %}
            <form class="form-group" method="post">
            {% for result in data['foods'] %}
            <!-- <input type="submit" id = "foods" name = "link" class="btn btn-link foods" value = "{{ result['description'] }}"> <br><br> -->
            <button type = "submit" class="btn btn-link foods" name = "link" id = "foods" value = "{{ result['link'] }}"> {{ result['description'] }} </button> <br><br>
            {% endfor %}
            </form>

        {% elif 'foodNutrients' in data %}
            <h2>{{data['description']}}</h2><br>
            <h5>Portion: 100g</h5><br>
            {% for nutrient in data['foodNutrients'] %}
                {{ nutrient['nutrient']['name'] }}: {{ nutrient['amount'] }}{{ nutrient['nutrient']['unitName']}} <br><br>
            {% endfor %}
        {% endif %}
    {% endif %}

{% endblock content %}
