{% extends "base.html" %}

{% block content%}
<br>
    <form class="form-group" method="post">
        <label class="form-control-sm" for="food">Search for a food: </label>
        {% if food %}
            <input class="form-control-sm" id="food" name="food" value = "{{ food }}" type="text">
        {% else %}
            <input class="form-control-sm" id="food" name="food" type="text">
        {% endif %}
            <br><br>
        <input class="btn-sm btn-warning" type="submit" value="Search"> <br><br>
    </form>


    {% if data %}

        {% if 'foods' in data %}
            {% if data['foods'] | length > 0 %}
            <div class="container">
                <form class="form-group row" method="post">
                {% for result in data['foods'] %}
                <!-- <input type="submit" id = "foods" name = "link" class="btn btn-link foods" value = "{{ result['description'] }}"> <br><br> -->
                <button type = "submit" class="btn btn-dark btn-link foods col-lg-4" name = "link" id = "foods" value = "{{ result['fdcId'] }}"> {{ result['description'] }} </button>
                {% endfor %}
                </form>
            </div>
            {% else %}
                <p>No Results :(</p>
            {% endif %}
        {% elif 'foodNutrients' in data %}
            <a href = "{{ fooddata_page }} " target="_blank"><h2>{{data['description']}}</h2></a><br>
            <h5>Portion: 100g</h5><br>

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="row">
                            Nutrients
                        </th>
                        <th scope="row">
                            Data
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for nutrient in data['foodNutrients'] %}
                    <tr>
                        <th scope="col">{{ nutrient['nutrient']['name'] }} </th>
                        <td>
                            {{ nutrient['amount'] }}{{ nutrient['nutrient']['unitName']}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}

{% endblock content %}
