{% extends "base.html" %}

{% block content%}
    <form class="form-group" method="post">
        <label class="form-control-sm" for="food">Search for a food: </label>
        <input class="form-control-sm" id="food" name="food" type="text">
        <br><br>
        <input class="btn-sm btn-warning" type="submit" value="Search"> <br><br>
    </form>

    {% if data %}
        {% if 'foods' in data %}
            {% for result in data['foods'] %}
                <a href = "{{ result['link'] }}"> {{ result['description'] }} </a><br><br>
            {% endfor %}
        {% endif %}
    {% endif %}

{% endblock content %}
