{% extends "base.html" %}
{% block content %}
<br>
<form class="form-group" method="post">
  <input name = "datepicker" id="datepicker" width="276" placeholder='mm/dd/yyyy'/>
  <script>
      $('#datepicker').datepicker({
          uiLibrary: 'bootstrap4'
      });
  </script>
  <input class="form-control" name = "breakfast" type="text" placeholder='Breakfast'>
  <input class="form-control" name = "lunch" type="text" placeholder='Lunch'>
  <input class="form-control" name = "dinner" type="text" placeholder='Dinner'>
  <input class="form-control" name = "snacks" type="text" placeholder='Snacks'>
  <input class="form-control" name = "restaurant" type="text" placeholder='Restaurants'>
  <br>
  <input class="btn-sm btn-warning" type="submit" value="Submit">
</form>


{% endblock content %}
