{% extends "base.html" %}
{% block content %}
<div class = "container">

</div>
<br>
<form class="form-group" method="post">
  <input id="datepicker" width="276" placeholder='mm/dd/yyyy'/>
  <script>
      $('#datepicker').datepicker({
          uiLibrary: 'bootstrap4'
      });
  </script>
  <input class="form-control" id = breakfast type="text" placeholder='Breakfast'>
  <input class="form-control" id = lunch type="text" placeholder='Lunch'>
  <input class="form-control" id = dinner type="text" placeholder='Dinner'>
  <input class="form-control" id = snacks type="text" placeholder='Snacks'>
  <input class="form-control" id = restaurant type="text" placeholder='Restaurant'>
  <br>
  <input class="btn-sm btn-warning" type="submit" value="Submit">
</form>


{% endblock content %}
