{% extends "base.html" %}

{% block content %}
<br>
<form class="form-group" method="post">
  <label class="form-control-sm" for="query">Find a recipe: </label>
  <input class="form-control-sm" id="query" name="query" type="text">
  <!-- <select class="custom-select custom-select-sm" id="searchtype">
    <option selected> Please select a search type</option>
    <option value="name">Name</option>
    <option value="ingredients">Ingredients</option>
  </select> -->
  <br><br>
  <input class="btn-sm btn-warning" type="submit" value="Search"> <br><br>
</form>

{% if data %}
  {% for result in data %}
    <h4>{{ result['title'] }} <br></h4>
    <a href = '{{ result["href"] }}'> Recipe </a> || {{ result['ingredients'] }} <br><br>


<!-- <img src = "{{ result['thumbnail'] }}" class="img-thumbnail"> <br> -->
  {% endfor %}
{% endif %}

{% endblock content %}
