{% extends "base.html" %}

{% block content %}
    <!-- <form class="form-group" method="post"> -->
    <!--     <label for="query">Find a restaurant:</label> -->
    <!--     <input class="form-control-sm" id="query" name="query" type="text"> -->
    <!--     <div class="dropdown-menu bg-dark"> -->
    <!--         <a class="dropdown-item" id="zip" name="zip">Zip Code</a> -->
    <!--         <a class="dropdown-item" id="key" name="key">Keyword</a> -->
    <!--     </div> -->
    <!--     <br> -->
    <!--     <br> -->
    <!--     <input class="btn" type="submit" value="Search"></input> -->
    <!-- </form> -->

<div class="widget_wrap" style="width:520px;height:504px;display:inline-block;">
  <iframe src="https://www.zomato.com/widgets/res_search_widget.php?city_id=280&language_id=1&theme=red&widgetType=large&sort=popularity" style="position:relative;width:100%;height:100%;" border="0" frameborder="0">
  </iframe>
</div>
    
{% endblock content %}
