{% extends "base.html" %}

{% block content %}


<form class="form-group" method="post">
  <label class="form-control-sm" for="query">Find a restaurant: </label>
  <input class="form-control-sm" id="query" name="query" type="text">
  <br><br>
  <input class="btn-sm btn-warning" type="submit" value="Search"> <br><br>
</form>

{% if data %}
{% for result in data[ 'restaurants'] %}
<h4>{{ result[ 'restaurant'][ 'name'] }} <br></h4>
<a href = '{{ result[ 'restaurant'][ "url"] }}'> Website </a> || {{ result[ 'restaurant'][ 'location'][ 'locality']}} <br><br>

{% endfor %}
{% endif %}
{% endblock content %}


